## A supermarket has introduces a promotional activity in its selected outlets in the city to increase the sales volume. Check whether the promotional activity increased sales

In [2]:
# H0: Means are same
# H1: means are not same

In [ ]:
# sales promotion introduced are Sales_out1

In [3]:
import pandas as mypandas
from scipy import stats as mystats

In [4]:
myData=mypandas.read_csv('.\datasets\Sales_Promotion.csv')
SO1=myData.Sales_Out1  
SO2=myData.Sales_Out2

In [5]:
myData

    Sales_Out1  Sales_Out2
0         1217        1731
1         1416        1420
2         1381        1065
3         1413        1612
4         1800        1361
5         1724        1259
6         1310        1470
7         1616         622
8         1941        1711
9         1792        2315
10        1453        1180
11        1780        1515

In [6]:
v=mystats.ttest_ind(SO1,SO2)

In [7]:
#before and after the promotional activity the sales are same
#Hypothesis is true pvalue >= 0.05

In [8]:
v

Ttest_indResult(statistic=0.96251845338616526, pvalue=0.3462502310190172)

In [9]:
v.pvalue

0.3462502310190172

In [10]:
SO1.mean()

1570.25

In [11]:
SO2.mean()

1438.4166666666667

In [12]:
#promotional activity is not helping the growth